USE [master]
GO
/****** Object:  Database [user43]    Script Date: 11.04.2023 10:42:23 ******/
CREATE DATABASE [user43]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user43', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SRVSQLWSR\MSSQL\DATA\user43.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'user43_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SRVSQLWSR\MSSQL\DATA\user43_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user43].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user43]
GO
/****** Object:  Table [dbo].[Активности]    Script Date: 11.04.2023 10:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Активности](
	[id_активности] [bigint] NOT NULL,
	[Жюри] [nvarchar](100) NOT NULL,
	[Победитель] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Активности] PRIMARY KEY CLUSTERED 
(
	[id_активности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Города]    Script Date: 11.04.2023 10:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Города](
	[id_города] [bigint] NOT NULL,
	[Герб] [image] NULL,
	[Название_города] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Города] PRIMARY KEY CLUSTERED 
(
	[id_города] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Мероприятия]    Script Date: 11.04.2023 10:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Мероприятия](
	[id_мероприятия] [bigint] NOT NULL,
	[id_активности] [bigint] NOT NULL,
	[Дата] [date] NOT NULL,
	[День] [bigint] NOT NULL,
	[id_города] [bigint] NULL,
 CONSTRAINT [PK_Мероприятия] PRIMARY KEY CLUSTERED 
(
	[id_мероприятия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Направления]    Script Date: 11.04.2023 10:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Направления](
	[id_направления] [bigint] NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Направления] PRIMARY KEY CLUSTERED 
(
	[id_направления] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 11.04.2023 10:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[id_пользователя] [bigint] NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[Пол] [nchar](10) NOT NULL,
	[Почта] [nvarchar](100) NOT NULL,
	[Дата_рождения] [date] NOT NULL,
	[id_страны] [bigint] NOT NULL,
	[Телефон] [nvarchar](20) NOT NULL,
	[id_направления] [bigint] NOT NULL,
	[id_состав_жюри] [bigint] NOT NULL,
	[Пароль] [nvarchar](100) NOT NULL,
	[Фото] [image] NULL,
	[id_роли] [bigint] NOT NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[id_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 11.04.2023 10:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[id_роли] [bigint] NOT NULL,
	[Название_роли] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[id_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав_жюри]    Script Date: 11.04.2023 10:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав_жюри](
	[id_состав_жюри] [bigint] NOT NULL,
	[id_мероприятия] [bigint] NOT NULL,
 CONSTRAINT [PK_Состав_жюри] PRIMARY KEY CLUSTERED 
(
	[id_состав_жюри] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны]    Script Date: 11.04.2023 10:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[id_страны] [bigint] NOT NULL,
	[Название_страны] [nvarchar](100) NOT NULL,
	[Название_на_английском] [nvarchar](100) NOT NULL,
	[Код] [nchar](10) NOT NULL,
	[Код_2] [bigint] NOT NULL,
 CONSTRAINT [PK_Страны] PRIMARY KEY CLUSTERED 
(
	[id_страны] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Города] ([id_города], [Герб], [Название_города]) VALUES (1, NULL, N'Абаза')
INSERT [dbo].[Города] ([id_города], [Герб], [Название_города]) VALUES (2, NULL, N'Абакан')
INSERT [dbo].[Города] ([id_города], [Герб], [Название_города]) VALUES (3, NULL, N'Абдулино')
GO
INSERT [dbo].[Страны] ([id_страны], [Название_страны], [Название_на_английском], [Код], [Код_2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB        ', 895)
INSERT [dbo].[Страны] ([id_страны], [Название_страны], [Название_на_английском], [Код], [Код_2]) VALUES (2, N'Австралия', N'Australia', N'AU        ', 36)
INSERT [dbo].[Страны] ([id_страны], [Название_страны], [Название_на_английском], [Код], [Код_2]) VALUES (3, N'Австрия', N'Austria', N'AT        ', 40)
GO
ALTER TABLE [dbo].[Мероприятия]  WITH CHECK ADD  CONSTRAINT [FK_Мероприятия_Активности] FOREIGN KEY([id_активности])
REFERENCES [dbo].[Активности] ([id_активности])
GO
ALTER TABLE [dbo].[Мероприятия] CHECK CONSTRAINT [FK_Мероприятия_Активности]
GO
ALTER TABLE [dbo].[Мероприятия]  WITH CHECK ADD  CONSTRAINT [FK_Мероприятия_Города] FOREIGN KEY([id_города])
REFERENCES [dbo].[Города] ([id_города])
GO
ALTER TABLE [dbo].[Мероприятия] CHECK CONSTRAINT [FK_Мероприятия_Города]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Направления] FOREIGN KEY([id_направления])
REFERENCES [dbo].[Направления] ([id_направления])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Направления]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY([id_роли])
REFERENCES [dbo].[Роли] ([id_роли])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Состав_жюри] FOREIGN KEY([id_состав_жюри])
REFERENCES [dbo].[Состав_жюри] ([id_состав_жюри])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Состав_жюри]
GO
ALTER TABLE [dbo].[Состав_жюри]  WITH CHECK ADD  CONSTRAINT [FK_Состав_жюри_Мероприятия] FOREIGN KEY([id_мероприятия])
REFERENCES [dbo].[Мероприятия] ([id_мероприятия])
GO
ALTER TABLE [dbo].[Состав_жюри] CHECK CONSTRAINT [FK_Состав_жюри_Мероприятия]
GO
USE [master]
GO
